tbody{
  cursor: pointer;
}

.crm-footer{
  position: fixed;
  bottom:0;
  left:0;
  height: 100px;
  background-color: rgba(50, 105, 209, 0.9);
  width:100%;
  text-align: center;
  padding:10px;
  color:white;
  font-family: "Calibri Light", Serif;
}

form{
  margin-bottom: 20px;
}

#profile_picture{
  font-size: 300px;
  color: lightgrey;
}

.center-element{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -60%);
}

