<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>chart - view </title>
  <script src=" https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="application/javascript" src="../js/jquery.canvasjs.min.js"></script>
  <script type="application/javascript" src="../js/canvasjs.min.js"></script>
  <script src="../js/charts.js"></script>
  <style>
    canvas{
      cursor: pointer;
    }
  </style>
</head>
<body>

<div id="chartContainer" style="cursor:pointer; height: 370px; width: 50%; border: 1px solid black;"></div>
<div id="chartContainer2" style="cursor:pointer; height: 370px; width: 50%; border: 1px solid black;"></div>
<a href="/api/customers" > Back </a>
</body>
</html>