<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>chart - view </title>
  <script src=" https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="application/javascript" src="../js/jquery.canvasjs.min.js"></script>
  <script type="application/javascript" src="../js/canvasjs.min.js"></script>
  <script src="../js/charts.js"></script>

  <link rel="stylesheet" type="text/css" href="../css/customer-view.css"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"/>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

  <script src="../js/side-bar.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous"/>
  <style>
    canvas {
      cursor: pointer;
    }
  </style>
</head>
<body>

<div th:replace="customer-view :: side-bar"></div>
<div th:replace="customer-view :: header"></div>

<div class="row justify-content-center">
    <select name="charts" id="selectChart">
      <option value="Pie">Pie chart</option>
      <option value="Bar">Bar chart</option>
      <option value="Line">Line chart</option>
    </select>

    <div id="chartContainer" style="margin: 5px; cursor:pointer; height: 370px; width: 50%; border: 1px solid black;"></div>

    <a href="/api/customers"> Back </a>
</div>

</body>
</html>