<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>edit - view </title>
  <link rel="stylesheet" type="text/css" href="../css/add-customer-view.css"/>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src=" https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous"/>

  <script src="../js/side-bar.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/customer-view.css"/>

</head>
<body>

<div th:replace="customer-view :: side-bar"></div>
<div th:replace="customer-view :: header"></div>

<div class="row justify-content-center">
  <div class="col-md-auto">
    <i id="profile_picture" class="fas fa-user-circle"></i>

    <form th:object="${customer}" action="/api/edit/save" method="get">
      <input th:field="*{id}" name="id" type="hidden" class="form-control" id="id"
             aria-describedby="emailHelp" placeholder="id"/>

      <div class="form-group">
        <label for="firstname">First name</label>
        <input th:field="*{firstname}" name="firstname" type="text" class="form-control"
               id="firstname" aria-describedby="emailHelp" placeholder="firstname"/>
      </div>

      <div class="form-group">
        <label for="lastname">Last name</label>
        <input th:field="*{lastname}" name="lastname" type="text" class="form-control" id="lastname"
               aria-describedby="emailHelp" placeholder="lastname"/>
      </div>

      <div class="form-group">
        <label for="position">Position</label>
        <input th:field="*{position}" name="position" type="text" class="form-control" id="position"
               aria-describedby="emailHelp" placeholder="position"/>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input th:field="*{email}" name="email" type="email" class="form-control"
               id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email"/>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>

    </form>
  </div>
</div>


</body>
</html>